*,
*::before,
*::after {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-size: 16px;
  font-family: sans-serif;
}
.main__body {
  height: 100vh;
}
.header__conatiner {
  width: 100%;
  background-color: #e6e7eb;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1em 0em;
  max-width: 1366px;
  margin: 0 auto;
}
.text__container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 6em;
}
.text__container__heading {
  font-size: 2.5rem;
  font-weight: 400;
  color: #1f2937;
}
.text__container__sub__heading {
  font-size: 16px;
  font-weight: 400;
  color: #1f2937;
  max-width: 400px;
  margin-top: 1em;
  line-height: 22px;
  text-align: center;
}
.main__btn {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 6em;
}
.btn__primary {
  width: 600px;
  background-color: #0102c0;
  color: #fff;
  padding: 0.8em 0em;
  border-radius: 20px;
  font-size: 16px;
  font-weight: 600;
  border: none;
  cursor: pointer;
}
.btn__primary:hover {
  background-color: #000000;
  transition: all 0.3s ease-in-out;
}
.key__points {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 2em;
}
.key__points__container {
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0.3em 0em;
}
.key__points__svg svg {
  color: #0102c0;
  height: 15px;
  width: 20px;
}
.header__conatiner__onboarding {
  width: 100%;
  background-color: #e6e7eb;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em 0em;
  max-width: 1366px;
  margin: 0 auto;
  padding: 0.5em 1em;
}
.header__svg svg {
  color: #0102c0;
}
.header__img img {
  height: 30px;
}
