*,
*::before,
*::after {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-size: 16px;
  font-family: sans-serif;
}
.main__body {
  height: 100vh;
}
.header__conatiner {
  width: 100%;
  background-color: #e6e7eb;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1em 0em;
  max-width: 1366px;
  margin: 0 auto;
}
.text__container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 6em;
}
.text__container__heading {
  font-size: 2.5rem;
  font-weight: 400;
  color: #1f2937;
}
.text__container__sub__heading {
  font-size: 16px;
  font-weight: 400;
  color: #1f2937;
  max-width: 400px;
  margin-top: 1em;
  line-height: 22px;
  text-align: center;
}
.main__btn {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 6em;
  text-decoration: none;
}
.btn__primary {
  width: 600px;
  background-color: #0102c0;
  color: #fff;
  padding: 0.8em 0em;
  border-radius: 20px;
  font-size: 16px;
  font-weight: 600;
  border: none;
  cursor: pointer;
}
.btn__primary:hover {
  background-color: #000000;
  transition: all 0.3s ease-in-out;
}
.key__points {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 2em;
}
.key__points__container {
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0.3em 0em;
}
.key__points__svg svg {
  color: #0102c0;
  height: 15px;
  width: 20px;
}
.header__conatiner__onboarding {
  width: 100%;
  background-color: #e6e7eb;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em 0em;
  max-width: 1366px;
  margin: 0 auto;
  padding: 0.5em 1em;
}
.header__svg svg {
  color: #0102c0;
  cursor: pointer;
}
.header__img img {
  height: 30px;
}
.onboading__img__section {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: 1366px;
  margin: 0 auto;
  margin-top: 4em;
}
.onboading__img {
  width: 200px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2em;
  border: 1px solid #1d1d523d;
  border-radius: 6px;
  margin: 2em;
}
.onboading__text {
  font-size: 16px;
  font-weight: 500;
}
.signup__form__container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3em;
  padding: 1.4em;
}
.signup__form__container__heading {
  font-size: 22px;
  font-weight: 600;
  color: #0102c0;
  margin-bottom: 0.5em;
}
.form__wraper {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  padding: 0em 1em;
  background-color: rgb(241, 240, 240);
  padding: 1em;
  border-radius: 12px;
}
.form__wraper__input {
  width: 100%;
  border: 1px solid #1d1d523d;
  border-radius: 20px;
  margin: 0.4em 0em;
  padding: 0.8em 1em;
  outline: none;
}
.input__error {
  color: red;
  font-size: 13px;
  font-weight: 500;
  display: none;
}
.input__term {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0.3em 0em;
}
.input__term input {
  width: 15px;
  height: 15px;
  border-radius: 2px;

  cursor: pointer;
}
.input__term__text {
  font-size: 14px;
  padding-left: 0.6em;
}
.input__term__text span {
  color: #0102c0;
  cursor: pointer;
  font-weight: 700;
  text-decoration: underline;
}
.signup__btn__wraper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1em 0em;
}
.signup__btn {
  width: 200px;
  background-color: #0102c0;
  border-radius: 20px;
  padding: 0.9em 0em;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 14px;
}
.signup__form__container__footer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1em;
  font-size: 15px;
}
.signup__form__container__footer span {
  font-size: 14px;
  font-weight: 600;
  color: #0102c0;
  text-decoration: underline;
  cursor: pointer;
}
@media (max-width: 700px) {
  .btn__primary {
    max-width: 300px;
  }
}
