@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;1,200;1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,600;1,100;1,500&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;
  /* overflow-x: hidden; */
  overflow: hidden;
  font-size: 16px;
  font-family: "Plus Jakarta Sans", sans-serif;
}
.main__body {
  height: 100vh;
}
.header__conatiner {
  width: 100%;
  background-color: #e6e7eb;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1em 0em;
  max-width: 1366px;
  margin: 0 auto;
}
.text__container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 6em;
}
.text__container__heading {
  font-size: 2.5rem;
  font-weight: 400;
  color: #1f2937;
  font-family: "Poppins", sans-serif;
}
.text__container__sub__heading {
  font-size: 16px;
  font-weight: 400;
  color: #1f2937;
  max-width: 400px;
  margin-top: 1em;
  line-height: 22px;
  text-align: center;
}
.main__btn {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 3em 0em;
  text-decoration: none;
}
.btn__primary {
  width: 600px;
  background-color: #0102c0;
  color: #fff;
  padding: 0.8em 0em;
  border-radius: 20px;
  font-size: 16px;
  font-weight: 600;
  border: none;
  cursor: pointer;
}
.btn__primary:hover {
  background-color: #000000;
  transition: all 0.3s ease-in-out;
}
.key__points {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 2em;
}
.key__points__container {
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0.3em 0em;
}
.key__points__svg svg {
  color: #0102c0;
  height: 15px;
  width: 20px;
}
.header__conatiner__onboarding {
  width: 100%;
  border-bottom: 1px solid #7e7e833d;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em 0em;
  height: 60px;

  margin: 0 auto;
  padding: 0.5em 1em;
}
.header__svg svg {
  color: #0102c0;
  cursor: pointer;
}
.header__img img {
  height: 30px;
}
.onboading__img__section {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: 1366px;
  margin: 0 auto;
  margin-top: 4em;
}
.onboading__img {
  width: 200px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2em;
  border: 1px solid #1d1d523d;
  border-radius: 6px;
  margin: 2em;
}
.onboading__text {
  font-size: 16px;
  font-weight: 500;
}
.signup__form__container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3em;
  padding: 1.4em;
}
.signup__form__container__heading {
  font-size: 22px;
  font-weight: 600;
  color: #0102c0;
  margin-bottom: 0.5em;
  font-family: "Poppins", sans-serif;
}
.form__wraper {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  padding: 0em 1em;
  background-color: rgb(241, 240, 240);
  padding: 2.5em 1.5em;
  border-radius: 12px;
}
.form__wraper__input {
  width: 100%;
  border: none;
  outline: none;
  border-radius: 20px;
  margin: 0.4em 0em;
  padding: 0.8em 1em;
  outline: none;
}
.form__wraper__input::placeholder {
  color: rgb(167, 163, 163);
}
.input__error {
  color: red;
  font-size: 13px;
  font-weight: 500;
  display: none;
}
.input__term {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0.3em 0em;
}
.input__term input {
  width: 15px;
  height: 15px;
  border-radius: 2px;

  cursor: pointer;
}
.input__term__text {
  font-size: 14px;
  padding-left: 0.6em;
}
.input__term__text span {
  color: #0102c0;
  cursor: pointer;
  font-weight: 700;
  text-decoration: underline;
}
.signup__btn__wraper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1em 0em;
}
.signup__btn {
  width: 200px;
  background-color: #0102c0;
  border-radius: 20px;
  padding: 0.9em 0em;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 14px;
}
.signup__form__container__footer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1em;
  font-size: 15px;
}
.signup__form__container__footer span {
  font-size: 14px;
  font-weight: 600;
  color: #0102c0;
  text-decoration: underline;
  cursor: pointer;
}
.walet__container__wraper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1300px;
  margin: 0 auto;
}
.walet__container__content {
  width: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 2px solid black;
  border-radius: 12px;
  padding: 2em;
  margin-top: 4em;
}
.walet__container__content__col {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.walet__container__content__col__name {
  font-size: 16px;
  font-weight: 600;
  color: #1f2937;
  padding-left: 0.6em;
}
.walet__container__content__col__heading {
  margin-top: 0.6em;
  font-size: 18px;
  font-weight: 600;
  color: #1f2937;
  font-family: "Poppins", sans-serif;
}
.walet__container__content__col__skill {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: 1.3em;
  flex-wrap: wrap;
}
.walet__container__col__blank {
  width: 50px;
  height: 12px;
  padding: 5px 12px;
  border-radius: 20px;
  background-color: #1d1d99;
  margin-top: 0.7em;
  margin-left: 0.5em;
}
.user__container__text {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 4em;
}
.user__container__heading {
  font-size: 24px;
  font-weight: 600;
  margin: 1em 0em;
  text-align: center;
  display: flex;
  flex-direction: column;
  font-family: "Poppins", sans-serif;
}
.user__container__heading span {
  font-family: "Poppins", sans-serif;
  color: #303031;
}
.skip__option {
  border: 1px solid #0102c0;
  border-radius: 20px;
  padding: 7px 20px;
  transition: 0.3s ease-in-out;
  cursor: pointer;
  text-decoration: none;
}
.skip__option:hover {
  background-color: #0102c0;
  color: white;
  transition: 0.3s ease-in-out;
}
.user__details__section {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  max-width: 1300px;
  margin: 0 auto;
  margin-top: 4em;
}
.user__details__section__heading {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 1em;
  font-family: "Poppins", sans-serif;
}
.user__details__section__heading__sub {
  font-size: 16px;
  font-weight: 500;
  margin-top: 4em;
  text-align: center;
  width: 60%;
  padding: 1em;
}
.range__input {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1300px;
  margin: 0 auto;
  margin-top: 3em;
}
.range__input input {
  width: 400px;
  color: #0102c0;
}
.user__input__wraper {
  width: 600px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  margin: 0.7em 0em;
  padding: 0em 4em;
}
.user__detail__input__label {
  font-size: 18px;
  font-weight: 700;
  margin: 6px 0px;
  font-family: "Poppins", sans-serif;
}
.user__detail__input {
  width: 100%;
  max-width: 500px;
  padding: 12px 20px;
  border-radius: 20px;
  outline: none;
  border: 0.6px solid #1d1d99;
}
.select__container__home {
  width: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  padding: 1em;
  margin-top: 4em;
}
.select__container {
  width: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  padding: 1em;
}
.select__container__heading {
  font-size: 16px;
  font-weight: 600;
  padding: 0em 1em;
  font-family: "Poppins", sans-serif;
}
.select__container__select {
  width: 100%;
  max-width: 400px;
  padding: 12px 20px;
  border-radius: 20px;
  outline: none;
  border: 0.6px solid #1d1d99;
  cursor: pointer;
  font-weight: 600;
}
.select__container__select option {
  font-size: 16px;
  font-weight: 500;
  padding: 1em;
  color: #3232b3ce;
}
.btn__primary__connect {
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0102c0;
  padding: 1em;
  margin: 0.5em;
  cursor: pointer;
  text-decoration: none;
  border-radius: 20px;
  border: none;
  font-size: 15px;
  font-weight: 500;
  color: white;
}
.btn__primary__connect:hover {
  background-color: #1a1a1b;
  transition: 0.3s ease-in-out;
}
.btn__primary__job {
  width: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0102c0;
  padding: 1em;
  margin: 0.5em;
  cursor: pointer;
  text-decoration: none;
  border-radius: 20px;
  border: none;
  font-size: 15px;
  font-weight: 500;
  color: white;
  transition: 0.3s ease-in-out;
}
.btn__primary__job:hover {
  background-color: #1a1a1b;
  transition: 0.3s ease-in-out;
}
.main__btn__wraper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}
.footer__conteiner {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #2f2f30;
  margin: 0 auto;
  padding: 1em 3em;
}
.footer__col__wraper {
  max-width: 100px;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 0.8em;
  cursor: pointer;

  text-decoration: none;
}
.footer__col__wraper__svg svg {
  color: #2f2f30;
}
.footer__col__wraper__svg svg:hover {
  color: #0102c0;
  transition: 0.3s ease-in-out;
}
.footer__col__wraper__text {
  font-size: 14px;
  font-weight: 600;
  color: #2f2f30;
  margin: 0.5em 0em;
}

.main__wraper {
  width: 100%;
  display: flex;
  flex: 1;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  height: calc(100vh - 115px);
  overflow-y: auto;
}
.option__profle__menu {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 3em;
}
.option__profile {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 60px;
  padding: 0.2em;
  margin-right: 0.6em;
  cursor: pointer;
}
.option__profile img {
  height: 45px;
  width: 45px;
}
.option__menu {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0.5em;
}
.option__menu__entry {
  margin: 0.5em;
  padding: 0.5em;
  border-radius: 60px;
  cursor: pointer;
  font-weight: 600;
  transition: 0.3s ease-in-out;
}
.option__menu__entry:hover {
  color: #0102c0;
  transition: 0.3s ease-in-out;
}
.job__container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  height: 100vh;
  height: calc(100vh - 120px);
  max-width: 1250px;
  margin: 0 auto;
  padding: 2em;
}
.job__container__wraper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #e6e7eb;
  border-radius: 12px;
  padding: 12px 20px;
  margin: 0.3em 0em;
}
.job__container__col {
  width: 250px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.job__container__col__svg {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #2f2f30;
  padding: 6px 8px;
  cursor: pointer;
  border-radius: 7px;
}
.job__container__col__svg svg {
  height: 20px;
  width: 20px;
  color: #2f2f30;
}
.job__container__col svg {
  border-radius: 8px;
  height: 60px;
  width: 45px;
  padding: 5px 8px;
  border: 1px solid #2f2f30;
  cursor: pointer;
}
.job__container__col__heading {
  font-size: 16px;
  font-weight: 600;
  color: #2f2f30;
  margin: 0.2em 0em;
  font-family: "Poppins", sans-serif;
}
.job__container__col__sub {
  font-size: 14px;
  font-weight: 500;
  color: #2f2f30;
  margin: 0.5em 0em;
}
.job__container__col__sub__heading {
  font-size: 12px;
  font-weight: 600;
  color: #2f2f30;
  margin: 0.2em 0em;
}

.post__job__from {
  width: 50%;
  max-width: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #e6e7eb;
  border-radius: 7px;
  margin: 5em 0em;
}
.post__job__form__heading {
  font-size: 20px;
  font-weight: 600;
  color: #101066;
  margin: 0.5em 0em;
  font-family: "Poppins", sans-serif;
}
.job__detail__profile__container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  padding: 2em 0em;
  margin-top: 3em;
}
.job__detail__profile__img {
  width: 60px;
  height: 60px;
  padding: 0.7em;
  border-radius: 50%;
  border: 1px solid #2f2f30;
  margin: 0.5em 0em;
  background-color: #d5d5d8;
}
.job__detail__profile__heading {
  font-size: 22px;
  font-weight: bold;
  margin: 0.5em 0em;
  font-family: "Poppins", sans-serif;
}
.job__detail__profile__subheading {
  font-size: 14px;
  font-weight: 600;
  margin: 0.2em 0em;
}
.job__detail__profile__subheading span {
  margin-left: 0.4em;
}
.job__detail__profile__posted {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.job__detail__profile__posted {
  display: flex;
  align-items: center;
  margin: 0.3em 0em;
}
.job__detail__profile__posted__label {
  font-size: 14px;
  font-weight: 600;
  margin: 0.2em 0em;
}
.job__detail__profile__posted__by {
  margin-left: 1em;
  font-size: 14px;
}
.job__detail__profile__posted__by__skill {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0102c0;
  padding: 6px 12px;
  margin-left: 0.4em;
  color: white;
  font-weight: 600;
  border-radius: 20px;
}
.radio__btn {
  margin: 0.4em 0em;
}
.radio__btn input {
  color: #0102c0;
  margin-left: 0.3em;
}
.profile__input__wraper {
  width: 500px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}
.profile__details__wraper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.input__wraper {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
}
.input__wraper__label {
  font-size: 14px;
  font-weight: 600;
  color: #2f2f30;
  margin: 0.5em 0em;
}
.post__job__form__input__container {
  width: 100%;
  padding: 1em 2em;
}
.post__job__form__input__container__input {
  width: 100%;
  border-radius: 7px;
  border: 1px solid #2f2f30;
  padding: 0.4em 0.5em;
  font-size: 14px;
  font-weight: 600;
  color: #2f2f30;

  outline: none;
}
.radio__btn__expertise {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  margin-bottom: 1.5em;
}
.radio__btn__expertise__heading {
  font-size: 16px;
  font-weight: 800;
  color: #2f2f30;
  margin-top: 2em;
  padding: 0.5em 0em;
  font-family: "Poppins", sans-serif;
}
.radio__btn__wraper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.radio__btn__wraper input {
  cursor: pointer;
}
.radio__btn__wraper label {
  font-size: 14px;
  font-weight: 800;
  color: #2f2f30;
  margin: 0.2em 0em;
  padding-left: 0.4em;
}
.job__input__wraper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
}
.job__input__wraper__label {
  font-size: 14px;
  font-weight: 600;
  color: black;
  margin: 0.2em 0em;
  padding: 0.2em 0em;
}
.job__input__wraper input {
  width: 100%;
  max-width: 400px;
  padding: 12px 20px;
  border-radius: 20px;
  outline: none;
  border: 0.6px solid #1d1d99;
  cursor: pointer;
  font-weight: 600;
}
.account__info__container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 12px;
  max-width: 1366px;
  margin: 0 auto;
  margin-top: 0.6em;
}
.account__info__wraper {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  padding: 4px 12px;
  margin-left: 1em;
  border-radius: 20px;
  cursor: pointer;
  text-decoration: none;
  color: #000000;
  transition: 0.3s ease-in-out;
}
.account__info__wraper:hover {
  background-color: #3030ac;
  transition: 0.3s ease-in-out;
  color: white;
  border: 1px solid #3030ac;
}
.company__profile__svg svg {
  color: #0102c0;
  height: 20px;
}
.profile__details__section {
  width: 100%;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: 1300px;
  margin: 0 auto;
  overflow-y: auto;
}
.profile__details__section__heading {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 26px;
  padding: 0em 3em;
  margin-top: 3em;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
}

.detail__text__container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 1em 3em;
}
.detail__text__container__heading {
  font-size: 22px;
  font-weight: 600;
  color: #2f2f30;
  margin: 0.2em 0em;
  text-align: center;
  font-family: "Poppins", sans-serif;
}
.detail__text__container__sub__heading {
  font-size: 16px;
  text-align: center;
  color: #2f2f30;
  margin: 0.2em 0em;
}

.main__btn__job {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0.7em 0em;
  text-decoration: none;
}
.btn__primary {
  width: 400px;
  background-color: #0102c0;
  color: #fff;
  padding: 0.8em 0em;
  border-radius: 20px;
  font-size: 16px;
  font-weight: 600;
  border: none;
  cursor: pointer;
}
.btn__primary:hover {
  background-color: #000000;
  transition: all 0.3s ease-in-out;
}
.linebar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 1em 3em;
  margin-top: 2em;
  max-width: 1350px;
  margin: 0 auto;
}

.linebar__line {
  width: 18%;
  height: 7px;
  background-color: #0102c0;
  border-radius: 8px;
}
.linebar__line__two {
  width: 18%;
  height: 7px;
  background-color: #8989ce;
  border-radius: 8px;
}
.linebar__heading {
  font-size: 16px;
  font-weight: 600;
  color: #2f2f30;
  margin: 0.2em 0em;
  padding: 0.2em 0em;
  max-width: 300px;
}
.apply__text__container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 1em 3em;
  margin-top: 3em;
}
.apply__text__heading {
  font-size: 22px;
  font-weight: 800;
  margin: 0.2em 0em;
  text-align: center;
  font-family: "Poppins", sans-serif;
}
.apply__img__wraper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0.5em 0em;
}

.apply__img img {
  height: 40px;
  width: 40px;
  margin-right: 12px;
  border-radius: 60px;
}
.apply__img__one img {
  height: 40px;
  width: 40px;
  border-radius: 60px;
}
.apply__job__bar__wraper {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  padding: 0em 2em;
  max-width: 1300px;
  margin: 0 auto;
}
.apply__job__bar__heading {
  font-size: 16px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}
.apply__job__bar__input {
  width: 100%;
}
.apply__job__bar__input input {
  width: 100%;
  border-radius: 10px;
  border: 1px solid #8989ce;
  padding: 0em 1em;
  font-size: 16px;
  font-weight: 600;
  outline: none;
}
.refer__text__container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 1em 3em;
  margin-top: 3em;
}
.refer__text__container__heading {
  font-size: 22px;
  font-weight: 800;
  margin: 0.2em 0em;
  text-align: center;
  font-family: "Poppins", sans-serif;
}
.loded__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  padding: 0.8em 0em;
  border-radius: 12px;
  font-size: 15px;
  font-weight: 600;
  border: none;
  cursor: pointer;
  background-color: #0102c0;
  color: #fff;
  margin: 1em 0em;
}
.refer__text__container__sub__heading {
  font-size: 16px;
  text-align: center;
  color: #2f2f30;
  margin: 0.2em 0em;
}
.refer__step__container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1em 3em;
  margin-top: 3em;
  max-width: 900px;
  margin: 0 auto;
}
.refer__step__col__wraper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.refer__step__col__wraper__num {
  font-size: 16px;
  font-weight: 600;
  color: #2f2f30;
  margin: 0.2em 0em;
  background-color: #0102c0;
  height: 35px;
  width: 35px;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  border-radius: 50px;
  color: white;
  position: relative;
}
.refer__step__col__wraper__num__two {
  font-size: 16px;
  font-weight: 600;
  color: #2f2f30;
  margin: 0.2em 0em;
  background-color: #cecedb;
  height: 35px;
  width: 35px;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  border-radius: 50px;
  color: #000000;
  position: relative;
}
.refer__step__col__wraper__num__two:last-child ::after {
  background-color: #fff;
}
.refer__step__col__wraper__num::after {
  content: "";
  position: absolute;
  top: 15px;
  left: 0;
  width: 210px;
  height: 8px;
  border-radius: 50px;
  background-color: #0102c0;
  opacity: 0.2;
}
.refer__step__col__wraper__num__two::after {
  content: "";
  position: absolute;
  top: 15px;
  left: 0;
  width: 210px;
  height: 8px;
  border-radius: 50px;
  background-color: #ababc4;
  opacity: 0.2;
}
.refer__step__col__wraper__num::after :last-child {
  display: none;
}
.refer__step__col__wraper__text {
  font-size: 14px;
  font-weight: 600;
  color: #2f2f30;
  margin: 0.2em 0em;
  text-align: center;
}
.available__work__wraper {
  width: 100%;
  display: flex;
  align-items: space-between;
  justify-content: space-between;
  border-bottom: 1px solid #8989ce;
}
.available__work__wraper__heading {
  font-size: 16px;
  font-weight: 600;
  color: #2f2f30;
  margin: 0.2em 0em;
  padding: 0.2em 1em;
  margin-top: 3em;
}
.profile__img {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3em;
}
.profile__img img {
  height: 100px;
  width: 100px;
  border-radius: 60px;
}
.edit__profile {
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  max-width: 1300px;
  margin: 0 auto;
  text-decoration: none;
}
.edit__profile__entry {
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6px 12px;
  background-color: #101066;
  color: white;
  border-radius: 20px;
  cursor: pointer;
  margin: 0.3em 0em;
  transition: all 0.3s ease-in-out;
}
.edit__profile__entry:hover {
  background-color: #000000;
  transition: all 0.3s ease-in-out;
}
.profile__content {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0em 2em;
  max-width: 1300px;
  margin: 0 auto;
}
.profile__content__name {
  font-size: 22px;
  font-weight: 800;
  margin: 0.2em 0em;
  text-align: center;
  font-family: "Poppins", sans-serif;
}
.profile__content__des {
  font-size: 16px;
  font-weight: 600;
  margin: 0.2em 0em;
  color: rgb(78, 77, 77);
}
.profile__content__verify {
  font-size: 16px;
  margin: 0.4em 0em;
  color: rgb(14, 13, 13);
}
.profile__content__price {
  font-size: 16px;
  margin: 0.4em 0em;
  color: rgb(14, 13, 13);
}
.profile__content__price span {
  font-size: 16px;
  font-weight: 600;
  margin: 0.4em 0em;
  color: rgb(14, 13, 13);
  font-weight: 600;
}
.profile__skill__wraper {
  display: flex;
  align-items: center;
  justify-content: center;
}
.profile__skill {
  padding: 7px 12px;
  background-color: #0102c0;
  color: white;
  border-radius: 20px;
  margin: 0em 0.4em;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 1em;
}
.live__text__wraper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #d4d0d0;
  padding: 0.5em 0em;
  margin: 0.6em 0em;
}
.live__text__svg svg {
  height: 20px;
  width: 20px;
  margin-right: 0.5em;
}
.live__text {
  font-size: 16px;
  font-weight: 600;
  margin: 0.2em 0em;
  color: rgb(48, 47, 47);
}
@media (max-width: 700px) {
  .user__details__section__heading__sub {
    width: 100%;
  }
  .btn__primary {
    max-width: 300px;
  }
  .select__container {
    flex-direction: column;
  }
  .select__container__heading {
    margin: 1em;
  }
}
